#aboutme {
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.about-content {
    height: 100vh;
    width: calc(100vw - 33vw);
    padding: 2rem;
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, tranform 0.5s;
}

.slide-up {
    opacity: 1;
    transform: translateY(0);
}

.about-header,
.xp-header,
.skills-header,
.interests-header {
    padding: 1rem 0;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
