* {
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: rgb(40, 40, 40);
    color: white;
    margin: 0;
}

#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg-photo {
    position: absolute;
    height: 100vh;
    width: 25vw;
    top: -4rem;
    object-fit: cover;
    right: 0;
    z-index: -1;
    transform: translateX(200%);
    animation: slideInPhoto 1s forwards 1.25s;
}

.intro-content {
    height: 100vh;
    width: calc(100vw - 33vw);

    padding: 2rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
}

.greeting1 {
    font-size: 5rem;
    transform: translateX(-100%);
    animation: slideInGreet 1s forwards .5s;
}

.greeting2 {
    font-size: 5rem;
    transform: translateX(-100%);
    animation: slideInGreet 1s forwards 1.25s;
}

.intro-about {
    transform: translateX(-100%);
    animation: slideInAbout 1s forwards 2.5s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInGreet {
    to {
        opacity: 1; /* Final opacity set to 1 */
        transform: translateX(0); /* Final position at 0% translation */
    }
}

@keyframes slideInAbout {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInPhoto {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn {
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: grey;
}